.card-category-title {
  margin-top: 15px;
}

.cards {
  display: grid;
  grid-template-areas: "a a a";
}
.cards .card-post {
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.cards .card-post-description {
  margin-top: 15px;
  text-align: center;
}
.cards .card-post-time {
  margin-top: 15px;
}
